<a href="https://colab.research.google.com/github/shirsh12/Cardiovascular-Risk-Prediction/blob/main/Cardiovascular_Risk_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
import numpy as np

import pandas as pd

In [5]:
#loading data set
path= "/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Team Capstone Project - Cardiovascular Risk Prediction/data_cardiovascular_risk.csv"

main_data = pd.read_csv(path)

In [6]:
#view
main_data.head()

   id  age  education sex  ...    BMI  heartRate  glucose  TenYearCHD
0   0   64        2.0   F  ...    NaN       90.0     80.0           1
1   1   36        4.0   M  ...  29.77       72.0     75.0           0
2   2   46        1.0   F  ...  20.35       88.0     94.0           0
3   3   50        1.0   M  ...  28.26       68.0     94.0           1
4   4   64        1.0   F  ...  26.42       70.0     77.0           0

[5 rows x 17 columns]


The dataset is from an ongoing cardiovascular studyon residents of the town of Framingham,Massachusetts. The classification goal is to predictwhether the patient has a 10-year risk offuture coronary heart disease (CHD). The dataset providesthe patients’ information. It includesover 4,000 records and 15 attributes.VariablesEach attribute is a potential risk factor. There are both demographic, behavioral, and medical riskfactors.
#**Data DescriptionDemographic:**

*  Sex: male or female("M" or "F")
*  Age: Age of the patient;(Continuous - Although therecorded ages have been truncated towhole numbers, the concept of age is continuous)Behavioral
* is_smoking: whether or not the patient is a currentsmoker ("YES" or "NO")
* Cigs Per Day: the number of cigarettes that theperson smoked on average in one day.(can beconsidered continuous as one can have any number ofcigarettes, even half a cigarette.)Medical( history)
* BP Meds: whether or not the patient was on bloodpressure medication (Nominal)
* Prevalent Stroke: whether or not the patient hadpreviously had a stroke (Nominal)
* Prevalent Hyp: whether or not the patient was hypertensive(Nominal)• Diabetes: whether or not the patient had diabetes(Nominal)Medical(current)
* Tot Chol: total cholesterol level (Continuous)
* Sys BP: systolic blood pressure (Continuous)
* Dia BP: diastolic blood pressure (Continuous)
* BMI: Body Mass Index (Continuous)
* Heart Rate: heart rate (Continuous - In medicalresearch, variables such as heart rate though infact discrete, yet are considered continuous becauseof large number of possible values.)
* Glucose: glucose level (Continuous)Predict variable (desired target)
* 10-year risk of coronary heart disease CHD(binary:“1”, means “Yes”, “0” means “No”) -DV

In [32]:
#descriptive stats
main_data.describe()

                id          age  ...      glucose   TenYearCHD
count  3390.000000  3390.000000  ...  3086.000000  3390.000000
mean   1694.500000    49.542183  ...    82.086520     0.150737
std     978.753033     8.592878  ...    24.244753     0.357846
min       0.000000    32.000000  ...    40.000000     0.000000
25%     847.250000    42.000000  ...    71.000000     0.000000
50%    1694.500000    49.000000  ...    78.000000     0.000000
75%    2541.750000    56.000000  ...    87.000000     0.000000
max    3389.000000    70.000000  ...   394.000000     1.000000

[8 rows x 15 columns]

## Goal : **Given this problem statement we have to build a Predictive Model which will give early detections of heart disease**

## For this problem our target variable : TenYearCHD

## To avoid bleeding of data, splitting the whole Dataset in Train , Validation and Test sets.

In [ ]:
from sklearn.model_selection import train_test_split